@import 'utils/variables';
@import 'components/type';

html{
    scroll-behavior: smooth;
}

body{
    background-image: url("../assets/images/HeaderImg.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}
.p--nav{
    font-size: 18px;
    margin: 0;
    padding-left: 16px;
    font-weight: 700;
}
.menu{
    position: fixed;
    height: 62px;
    display: flex;
    width: 100%;
    background-color: #fafafa;
    align-items: center;
    z-index: 20;
}
.menu__btn {
    background-color: #fafafa;
    border: none;
    border-radius: 100%;
    font-size: 24px;
    cursor: pointer;
    color: black;
    position: fixed;
    right: 24px;
    z-index: 10; 
}
.menu__btn::before {
    content: "☰";
    font-size: 25px;
    display: block;
    padding:6px;
    padding-top: 3px;
}
.menu--open .menu__btn::before {
    content: "✕";
}
.menu__liste {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #42585D;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    z-index: 5;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    gap: 40px;
}

.no-scroll{
    overflow: hidden;
}

.menu__el {
    margin: 24px 0;
    text-align: left;
}
.menu--li{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
    transition: color 0.2s ease;
}
.menu__link:hover {
    color: white;
}
.menu--open .menu__liste {
    transform: translateX(0);
}
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 4;
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
    border-radius: 0;
}
.menu--open .blur-overlay {
    opacity: 1;
    pointer-events: all;
}

.section{
    color: #fafafa;
}
.menu a{
    color: #fafafa;
    text-decoration: none;
    margin-bottom: 50px;
}
.banniere{
    height: 80vh;
    justify-content: center;
    align-items: center;

}

.banniere__text{
    background-color: transparent;
    margin: 0;
    grid-column: 1/-1;
}

.title--big{
    font-size: 57px;
    text-align: center;
    color: #fafafa;
    margin-top: 0;
    margin-bottom: 0;
}
.p--center__big{
    font-size: 24px;
    text-align: center;
    color: #fafafa;
}
.p--center{
    font-size: 18px;
    grid-column: 1/-1;

}
img{
    grid-column: 1/-1;
    width: 100%;
    border-radius: 25px;
}
.img--center{
    grid: 1/-1;
    width: 100%;
}

.title--center{
    grid-column: 1/-1;
    text-align: center;
}

div{
    background-color: #42585D;
    border-radius: 25px;
    margin-bottom: 20px;
}



h2{
    color: #fafafa;
    margin-top: 80px;
    margin-bottom: 20px;
}
.btn--plus{
    font-size: 18px;
    text-align: center;
    width: 75%;
    color: #42585D;
    border-radius: 7px;
    margin-bottom: 18px;
    background-color: #fafafa;
    border: none;
    transition: all .3s;
    cursor: pointer;
}

.btn--plus:hover{
    color: #fafafa;
    background-color: #303030;
}

.div--prux, .div--dataplay, .div--designf {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/-1;
}

.div--designf{
    margin-bottom: 80px;
}

.p--presproj, h3{
    padding-left: 10px;
    padding-right: 10px;
    align-self: start;
}

.div--footer{
    color: #fafafa;
    background-color: transparent;
    padding-left: 20px;
}

.backToTop {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    background-color: #303030;
    color: #fafafa;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, transform 0.3s;
}

.backToTop:hover {
    background-color: #5e5e5e;
    transform: scale(1.1);
}

.backToTop svg {
    width: 24px;
    height: 24px;
    fill: #fafafa;
}

.backToTop__btn{
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: end;
}

.socials{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    gap: 16px;
    margin-right: 20px;
    background-color: transparent;
    filter: brightness(25);
    margin-top: 18px;
}

.img-res{
    border-radius: 0;

}

.p--copy{
    color: #fafafa;
    margin: 20px;
}

footer {
    position: relative;
    z-index: 1;
}

h4{
    margin: 0;
    font-size: 24px;
}

.p--credits{
    grid-column: 5/-1;
    color: #fafafa;
}
.p--credits:hover{
    color: #5e5e5e;
}
.gridcol{
    display: grid;
    margin-left: 20px;
    margin-right: 20px;
    column-gap: 10px;
    row-gap: 0px;
    grid-template-columns: repeat(5, auto);
}

