@import 'utils/variables';
@import 'components/type';

html{
    scroll-behavior: smooth;
}

body{
    // background-image: url("../assets/images/HeaderImg.png");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    padding: 0;
    margin: 0; 

}
canvas{ 
    position: fixed;
    display: block;
    top: 0;
    bottom: 0;
    z-index: -1;
}

p{
    font-size: clamp(1.125rem, 0.127vw + 1.097rem, 1.25rem);
}
.p--nav{

    margin: 0;
    padding-left: 16px;
    font-weight: 700;
}
.menu{
    position: fixed;
    height: 62px;
    display: flex;
    width: 100%;
    background-color: #fafafa;
    align-items: center;
    z-index: 20;
}
.menu__btn {
    background-color: #fafafa;
    border: none;
    border-radius: 100%;
    font-size: clamp(1.5rem, 1.465vw + 1.18rem, 2.938rem);
    cursor: pointer;
    color: black;
    position: fixed;
    right: 24px;
    z-index: 10; 
}
.menu__btn::before {
    content: "☰";
    font-size: 25px;
    display: block;
    padding:6px;
    padding-top: 3px;
}
.menu--open .menu__btn::before {
    content: "✕";
}
.menu__liste {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #42585D;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    z-index: 5;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    gap: 40px;
}

.no-scroll{
    overflow: hidden;
}

.menu__el {
    margin: 24px 0;
    text-align: left;
}
.menu--li{
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: color 0.2s ease;
}
.menu__link:hover {
    color: white;
}
.menu--open .menu__liste {
    transform: translateX(0);
}
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 4;
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
    border-radius: 0;
}
.menu--open .blur-overlay {
    opacity: 1;
    pointer-events: all;
}

.section{
    color: #fafafa;
}
.menu a{
    color: #fafafa;
    text-decoration: none;
    margin-bottom: 50px;
}
.banniere{
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.banniere__text{
    background-color: transparent;
    margin: 0;
    grid-column: 1/-1;
}

.title--big{
    font-size: clamp(3.563rem, 5.924vw + 2.267rem, 9.375rem);
    text-align: center;
    color: #fafafa;
    margin-top: 0;
    margin-bottom: 0;
}
.p--center__big{
    font-size: clamp(1.5rem, 1.465vw + 1.18rem, 2.938rem);
    text-align: center;
    color: #fafafa;
}
.p--center{
    grid-column: 1/-1;
}

img{
    grid-column: 1/-1;
    width: 100%;
    border-radius: 25px;
}
.img--center{
    grid: 1/-1;
    width: 100%;
}

h2{
    color: #fafafa;
    margin-top: 80px;
    margin-bottom: 20px;
}

.title--center{
    grid-column: 1/-1;
    text-align: center;
    font-size: clamp(2.688rem, 2.611vw + 2.116rem, 5.25rem);
}

div{
    background-color: #42585D;
    border-radius: 25px;
    margin-bottom: 20px;
}

.btn--plus{
    font-size: clamp(1.125rem, 0.127vw + 1.097rem, 1.25rem);
    text-align: center;
    width: 75%;
    color: #42585D;
    border-radius: 7px;
    margin-bottom: 18px;
    background-color: #fafafa;
    border: none;
    transition: all .3s;
    cursor: pointer;
}

.btn--plus:hover{
    color: #fafafa;
    background-color: #303030;
}

.ligne-haut{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    grid-column: 1/-1;
}

.ligne-bas{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    grid-column: 1/-1;
}

.div--prux, .div--dataplay, .div--designf {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1/-1;
}

.div--designf{
    margin-bottom: 80px;
}

.p--presproj, h3{
    padding-left: 10px;
    padding-right: 10px;
    align-self: start;
}

.div--footer{
    grid-column: 1/3;
    color: #fafafa;
    background-color: transparent;
    padding-left: 20px;
}


.socials{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    gap: 16px;
    margin-right: 20px;
    background-color: transparent;
    filter: brightness(25);
    margin-top: 18px;
    font-size: 0;
}

.img-res{
    border-radius: 0;
}

.p--copy{
    color: #fafafa;
    margin: 20px;
    margin-right: 0;
    grid-column: 1/-4;
}

footer {
    position: relative;
    z-index: 1;
}

h4{
    margin: 0;
    font-size: clamp(1.5rem, 1.465vw + 1.18rem, 2.938rem);
}

.p--credits{
    grid-column: 3/-1;
    color: #fafafa;
    margin-bottom: 18px;
    margin-top: 18px;
}
.p--credits:hover{
    color: #5e5e5e;
}

#backToTop {
    grid-column: 1/2;
    margin: 18px;
    padding: 0;
    font-size: 0px;
    border: none;
    border-radius: 25px;
    background-color: #42585D;
    color: #fafafa;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
#backToTop:hover{
    background-color: #5e5e5e;
}

.gridcol{
    display: grid;
    margin-left: 20px;
    margin-right: 20px;
    column-gap: 10px;
    row-gap: 0px;
    grid-template-columns: repeat(5, auto);
}


@media (min-width: 768px) {

    .p--presproj, h3{
        padding-left: 55px;
        padding-right: 55px;
        align-self: start;
    }

    .ligne-haut{
        display: flex;
        flex-direction: column;
        background-color: transparent;
        grid-column: 1/-1;
    }

    .ligne-bas{
        display: flex;
        flex-direction: column;
        background-color: transparent;
        grid-column: 1/-1;
    }

    .div--footer{
        grid-column: 1/-3;
    }
 
    .p--credits{
        grid-column: 6/-1;
        margin-top: 20px;
        margin-right: 20px;
        text-align: right;
    }

    .p--copy{
        grid-column: 1/4;
    }

    .socials{
        grid-column: 3/-1;
        font-size: 0;
    }

    #backToTop {
        grid-column: 1/2;
        margin: 18px;
    }

    .gridcol {
        grid-template-columns: repeat(7, 1fr);
        column-gap: 20px;
        padding-left: 120px;
        padding-right: 120px;
    }


    .gridfoot{
        grid-template-rows: repeat(10, auto);
        column-gap: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 980px) {

    .p--center{
        grid-column: 2/-2;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 80px;
    }

    .img--center{
        grid-column: 2/-2;
    }
    .ligne-haut{
        display: flex;
        flex-direction: column;
        background-color: transparent;
        grid-column: 2/-2;
    }

    .ligne-bas{
        display: flex;
        flex-direction: column;
        background-color: transparent;
        grid-column: 2/-2;
    }
    
    .div--prux{
        grid-column: 2/-2;
    }

    .div--dataplay{
        grid-column: 2/-2;
    }

    .div--designf{
        grid-column: 2/-2;
    }

    .p--presproj, h3{
        padding-left: 55px;
        padding-right: 55px;
        align-self: start;
    }

    .div--footer{
        grid-column: 1/-3;
    }
 
    .p--credits{
        grid-column: 6/-1;
        margin-top: 20px;
        margin-right: 20px;
        text-align: right;
    }

    .p--copy{
        grid-column: 1/4;
    }

    .socials{
        grid-column: 3/-1;
        font-size: 0;
        margin-bottom: 18px;
    }

    #backToTop {
        grid-column: 1/2;
        margin: 18px;
        margin-left: 20px;
    }

    .gridcol {
        grid-template-columns: repeat(7, 1fr);
        column-gap: 20px;
        padding-left: 120px;
        padding-right: 120px;
    }


    .gridfoot{
        grid-template-rows: repeat(10, auto);
        column-gap: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 1250px){

    main{
        max-width: 1500px;
        margin: 0 auto;
        margin-bottom: 80px;
    }


    .p--center, .img--center{
        grid-column: 3/-3;
    }

    .section--projects {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        flex-direction: column;
        margin: 0;
    }
    .ligne-haut{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;
        background-color: transparent;
    }
    .div--dataplay, .div--prux{
        width: 100%;
        height: 100%;
    }
    .div--designf{

        height: 100%;
    }

    .gridfoot{
        grid-template-rows: repeat(10, auto);
        column-gap: 20px;
        padding-left: 100px;
        padding-right: 100px;
    }
}
